{% extends 'base.html.twig' %}

{% block title %}Courses / StudyOn{% endblock %}

{% block body %}
    <h1>Courses</h1>

    {% if not app.user %}
        <a class="btn btn-primary text-white" href="{{ path('app_login') }}">Log In</a>
        {# <a class="btn btn-success text-white" href="{{ path('app_register') }}">Register</a> #}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary text-white" href="{{ path('app_profile') }}">Profile</a>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-success text-white" href="{{ path('app_course_new') }}">Create new</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <a class="text-dark fw-bold" href="{{ path('app_course_show', {'id': course.id}) }}">
                        {{ course.title }}
                    </a>
                </td>
                <td>{{ course.description ?: "No description." }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}